.App {
  margin: 5vh 10vw;
  text-align: center;
  min-height: 90vh;
  min-width: 60vw;
  border: none;
  box-shadow: 0 0 7px rgba(0,0,0,0.5);
  border-radius: 8px;
  padding: 1rem;
  background-color: white;
}
